.expander
  %a{ :href => "javascript:void(0);", :class => "expander-trigger" }
    %h5 Cite this Page
  .expander-content.nav-cite
    %h6 Chicago
    %p
      GRI DAH. 2015. “The Ernst Ludwig Kirchner.” 
